body{
  overflow-x: hidden;
}

* {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

header{
  position: sticky;
  top: 0;
  z-index: 100;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--forest);
  padding: var(--space-4) var(--space-6);
  align-items: center;
  
  
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: var(--space-3);
  align-items: center;
}
.nav-links a {
  color: var(--white);
}
.nav-links a:hover {
  color: var(--amber);
}
.nav-toggle {
  display: none;
}
.logo {
  color: var(--white);
  font-family: var(--font-display);
  font-size: var(--text-xl);
}
.cta-button {
  background-color: var(--amber);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-md);
  color: var(--forest);
  font-family: var(--font-body);
  font-weight: 600;
  cursor: pointer;
}
.cta-button:hover {
  background-color: var(--slate);
  color: var(--white);
}
/*-hero section-*/

.hero {
  background-color: var(--chalk);
  padding: var(--space-8) var(--space-6);
  min-height: 90vh;
}
.hero .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--space-6);
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  flex: 1;
}
.hero-content span {
  color: var(--amber);
  font-size: var(--text-sm);
  letter-spacing: 0.15em;
}
.hero-content h1 {
  font-family: var(--font-display);
  font-size: var(--text-4xl);
  color: var(--forest);
  line-height: 1.2;
}
.hero-content p {
  font-size: var(--text-lg);
  color: var(--slate);
}
.hero-actions {
  display: flex;
  gap: var(--space-3);
}
.btn-primary {
  background-color: var(--forest);
  color: var(--white);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-md);
  transition: var(--transition);
  border: 1px solid var(--forest);
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--forest);
  color: var(--slate);
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--forest);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-md);
  transition: var(--transition);
}
.btn-secondary:hover {
  background-color: var(--forest);
  color: var(--white);
}
.hero-image {
  flex: 1;
  height: 500px;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-md);
}
/*categories section*/
.categories{
  background-color: var(--mist);
  padding: var(--space-8) var(--space-6);
}
.section-header{
  text-align: center;
  margin-bottom: var(--space-5);
  }
  .section-header h2{
    font-family: var(--font-display);
    font-size: var(--text-3xl);
    color: var(--forest);

  }
  .section-header p{
    color: var(--slate);
    font-size: var(--text-lg);
  }
  .categories-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-6);
    justify-items: center;
}
.category-card{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  background-color: var(--white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  padding: var(--space-4);
  transition: var(--transition);
  grid-column: span 2;
  
}
.category-card:nth-child(4){
  grid-column: 2 / 4;
}
.category-card:nth-child(5) {
  grid-column: 4 / 6;
}

.category-card:hover{
  box-shadow: var(--shadow-md);
  transform: translateY(-4px);
}
.category-icon{
font-size: var(--text-3xl);
}
.category-card h3{
  font-family: var(--font-display);
  color: var(--forest);
}
.category-card a{
  color: var(--amber);
  font-weight: 600;
  position: relative;
  max-width: 500px;
}
.category-card a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color:var(--amber);
  transition: var(--transition);
}
.category-card a:hover::after{
width: 65%;
background-color: var(--slate);
}
/*why-us*/
.why-us{
  background-color: var(--chalk);
  padding: var(--space-8) var(--space-6);
}
.why-us-grid{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: var(--space-6);
}
.trust-card{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  gap: var(--space-2);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  padding: var(--space-4);
  transition: var(--transition);
}
.trust-card:hover{
box-shadow: var(--shadow-md);
transform: translateY(-4px);
}
.trust-card h3{
  font-family: var(--font-display);
  color: var(--forest);
  font-size: var(--text-xl);
}
.trust-card p{
  color: var(--slate);
  line-height: 1.5;
}
.trust-icon{
  font-size: var(--text-4xl);
  margin-bottom: var(--space-2);
}
/*footer*/
.footer{
  background-color: var(--forest);
  color: var(--white);
  padding:var(--space-5);
  }
  .footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-6);
  }
  .brand-column a.logo{
    color: var(--white);
    font-family: var(--font-display);
    display: block;
    font-size: var(--text-2xl);
    margin-bottom:var(--space-2);
       
  }
  .brand-column p{
    color:var(--white);
    font-size: var(--text-sm);
  }
  .brand-column a{
    font-size: var(--text-sm);
    display: block;

  }
  .brand-column a:hover{
   color: var(--amber);
  }
  .footer h4{
    color: var(--amber);
    font-family: var(--font-display);
    margin-bottom: var(--space-2);
    letter-spacing: 0.1em;
  }
  .footer-links a{
   display: block;
   color: var(--white);
   margin-bottom: var(--space-3);
  }
  .footer-links a:hover{
    color: var(--amber);
    
  }
  .contact-info p{
    color: var(--white);
    margin-bottom: var(--space-3);
    line-height: 1.2;
  }
  .footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.15) ;
    text-align: center;
    font-size: var(--text-sm);
    color: var(--white);
    margin-top: var(--space-5);
    padding-top: var(--space-4);
  }
  /*Tablet(768px and below)*/
 @media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .cta-button {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .hero .container {
    flex-direction: column;
    text-align: center;
  }
  .hero-content h1 {
    font-size: var(--text-2xl);
  }
  .hero-actions {
    justify-content: center;
  }
  .hero-image {
    height: 250px;
    width: 100%;
  }
  .hero,
  .categories,
  .why-us {
    padding: var(--space-5) var(--space-3);
  }
  .footer {
    padding: var(--space-4) var(--space-3);
  }
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
    justify-items: stretch;
    width: 100%;
  }
  .categories .container {
  width: 100%;
  overflow: hidden;
}
  .category-card {
    grid-column: span 1;
  }
  .category-card:nth-child(4) {
    grid-column: span 1;
  }
  .category-card:nth-child(5) {
    grid-column: span 2;
  }
  .why-us-grid {
    grid-template-columns: 1fr;
    gap: var(--space-3);
  }
  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--space-4);
  }
  .hero-content {
  width: 100%;
  flex: none;
}
.hero-image {
  width: 100%;
  flex: none;
}
}
  /* Mobile (480px and below)*/
  @media(max-width:480px){
    .hero-content h1{
      font-size: var(--text-2xl);
    }
    .hero-actions{
      flex-direction: column;
      align-items: center;

    }
    .hero-actions a{
      width: 100%;
      text-align: center;
     
    }
  
    .categories-grid{
      grid-template-columns: 1fr;
    }
   
    .category-card,.category-card:nth-child(4),.category-card:nth-child(5){
    grid-column: span 1
    }
    
    .section-header h2{
      font-size: var(--text-2xl);
    }
    
  }